@charset "UTF-8";

@font-face {
  font-family: "sbp";
  src:url("../fonts/sbp.eot");
  src:url("../fonts/sbp.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sbp.woff") format("woff"),
    url("../fonts/sbp.ttf") format("truetype"),
    url("../fonts/sbp.svg#sbp") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sbp" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sbp" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-domini:before {
  content: "d";
}
.icon-map:before {
  content: "a";
}
.icon-plus:before {
  content: "b";
}
.icon-a-left:before {
  content: "c";
}
.icon-a-right:before {
  content: "e";
}
.icon-left:before {
  content: "h";
}
.icon-right:before {
  content: "i";
}
.icon-down:before {
  content: "j";
}
.icon-up:before {
  content: "k";
}
.icon-sun:before {
  content: "l";
}
.icon-lock:before {
  content: "m";
}
.icon-store:before {
  content: "n";
}
.icon-bus:before {
  content: "o";
}
.icon-doc:before {
  content: "p";
}
.icon-phone:before {
  content: "q";
}
.icon-phone2:before {
  content: "s";
}
.icon-place:before {
  content: "v";
}
.icon-search:before {
  content: "w";
}
.icon-key:before {
  content: "x";
}
.icon-user:before {
  content: "y";
}
.icon-copy:before {
  content: "z";
}
.icon-x:before {
  content: "C";
}
.icon-sum:before {
  content: "F";
}
.icon-close:before {
  content: "G";
}
.icon-doc-ok:before {
  content: "H";
}
.icon-align-center:before {
  content: "I";
}
.icon-align-left:before {
  content: "J";
}
.icon-rm-right-space:before {
  content: "L";
}
.icon-add-right-space:before {
  content: "M";
}
.icon-underline:before {
  content: "N";
}
.icon-alert:before {
  content: "O";
}
.icon-doc-move:before {
  content: "P";
}
.icon-look:before {
  content: "Q";
}
.icon-lamp:before {
  content: "R";
}
.icon-align-justify:before {
  content: "S";
}
.icon-align-right:before {
  content: "T";
}
.icon-bullet:before {
  content: "U";
}
.icon-bold:before {
  content: "V";
}
.icon-italic:before {
  content: "W";
}
.icon-secondary:before {
  content: "X";
}
.icon-calendar:before {
  content: "r";
}
.icon-mail-1:before {
  content: "u";
}
.icon-mail-2:before {
  content: "K";
}
.icon-foursquare:before {
  content: "f";
}
.icon-facebook:before {
  content: "g";
}
.icon-twitter:before {
  content: "t";
}
.icon-googleplus:before {
  content: "Y";
}
.icon-building:before {
  content: "Z";
}
.icon-print:before {
  content: "0";
}
.icon-info:before {
  content: "1";
}
.icon-check:before {
  content: "2";
}
.icon-folder-move:before {
  content: "3";
}
.icon-edit:before {
  content: "D";
}
.icon-check-true:before {
  content: "A";
}
.icon-check-false:before {
  content: "B";
}
.icon-bullet-true:before {
  content: "E";
}
.icon-bullet-false:before {
  content: "4";
}
.icon-upload:before {
  content: "5";
}
.icon-detail:before {
  content: "6";
}
.icon-exclude:before {
  content: "7";
}
.icon-drive:before {
  content: "8";
}
