doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			.error
				.row
					h1 Erro 404
					h2 “Desculpe-nos pelo transtorno”
					p Ocorreu um erro e esta página não foi encontrada, tente mais uma vez em alguns minutos.
					a(href="/").button HOME

		include footer