doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Pesquisa

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Resultados de busca para:
					.content_block
						p.lead "Patologia"
						p Aproximadamente 5.300 resultados (0,27 segundos)

					.row
						.small-12.column
							.content_block.busca_block
								img(src='http://placehold.it/190')
								h4 Patologia
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio similique, quibusdam quae sed omnis deleniti odit hic soluta deserunt eos? Inventore iusto nobis modi rerum voluptatem alias harum neque ullam!
							.content_block.busca_block
								h4 30&deg; Congresso Brasileiro de Patologia
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio similique, quibusdam quae sed omnis deleniti odit hic soluta deserunt eos? Inventore iusto nobis modi rerum voluptatem alias harum neque ullam!
							.content_block.busca_block
								h4 SBP - Sociedade Brasileira de Patologia
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio similique, quibusdam quae sed omnis deleniti odit hic soluta deserunt eos? Inventore iusto nobis modi rerum voluptatem alias harum neque ullam!
							.content_block.busca_block
								h4 Patologia no Brasil
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio similique, quibusdam quae sed omnis deleniti odit hic soluta deserunt eos? Inventore iusto nobis modi rerum voluptatem alias harum neque ullam!
							.content_block.busca_block
								h4 Faça sua inscrição no Congresso Brasileiro de Patologia
								p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio similique, quibusdam quae sed omnis deleniti odit hic soluta deserunt eos? Inventore iusto nobis modi rerum voluptatem alias harum neque ullam!

							ul.pagination.right(role='menubar' aria-label='pagination')
								- var pages = 8; var j = 2;
								li.arrow.unavailable(aria-disabled='true')
									a.icon-a-left(href='#')
								li.current
									a(href='#') 1
								while j < pages
									li
										a(href='#')= j++
								li.arrow
									a.icon-a-right(href='#')
				div(class="small-3 columns")
					include sidebar
		include footer