doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES
						li.current
							a(href="#") ÁREAS DE CONHECIMENTO

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") ÁREAS DE CONHECIMENTO

					.small-12.sub-category-menu
						a(href="#").button.bg-secondary.right VOLTAR

					div.small-12.left
						p Selecione um profissional e associe a ele as áreas de conhecimento.

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-5.bg-secondary Cargo
									th.small-6.bg-secondary Nome
									th.small-1.bg-secondary Edição

							tbody.small-12
								tr
									td.small-5 Comissão Científica
									td.small-6 José Luiz Carvalho
									td.small-1
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-5 Comissão Científica
									td.small-6 José Luiz Carvalho
									td.small-1
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-5 Comissão Científica
									td.small-6 José Luiz Carvalho
									td.small-1
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-5 Comissão Científica
									td.small-6 José Luiz Carvalho
									td.small-1
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

					div.small-12.left.content_block.knowledge-box
						.small-12.left.box-title.bg-secondary
							| Nome: José Luiz Carvalho
							br 
							| Cargo: Comissão Científica

						.small-12.left.panel
							div.small-12
								p Áreas de Conhecimento:							
	
							form.small-12.row
								div.small-8.columns
									input(type="text" placeholder="BUSQUE A ÁREA DESEJADA...")
								div.small-4.columns
									select
										option(value="") Selecionadas
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

							.small-12
								p Selecione as áreas de conhecimento deste profissional.
									br
									|A Comissão Científica fará a avaliação do trabalhos de acordo com as Áreas de Conhecimento associadas.
							.small-12.checkbox-custom
								.small-12
									input(id="checkbox1" type="checkbox")
									label(for="checkbox1") Lorem Ipsum
								.small-12
									input(id="checkbox2" type="checkbox")
									label(for="checkbox2") Lorem Ipsum
								.small-12
									input(id="checkbox3" type="checkbox")
									label(for="checkbox3") Lorem Ipsum
								.small-12
									input(id="checkbox4" type="checkbox")
									label(for="checkbox4") Lorem Ipsum
								.small-12
									input(id="checkbox5" type="checkbox")
									label(for="checkbox5") Lorem Ipsum
								.small-12
									input(id="checkbox6" type="checkbox")
									label(for="checkbox6") Lorem Ipsum
								.small-12
									input(id="checkbox7" type="checkbox")
									label(for="checkbox7") Lorem Ipsum
							.small-12
								br
								p Ao escolher a área o sistema salva automaticamente.

				div(class="small-3 columns")
					include sidebar
		include footer