doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li.current
							a(href="#") COMISSÃO CIENTÍFICA

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") COMISSÃO CIENTÍFICA

					//- Login
					div.small-12.left.login_block.bg-secondary
						form
							div.small-12.columns
								h2 Acesso restrito aos membros das comissões.

							div.small-6.columns.box
								.small-2.columns
									.icon-user
								.small-10.columns
									input(type="text" placeholder="E-MAIL")

							div.small-5.columns.box
								.small-2.columns
									.icon-key
								.small-10.columns
									input(type="text" placeholder="SENHA")

							div.small-1.columns.box
								button.button.bg-secondary OK

					.small-12.content_block
						h4 COMISSÃO ORGANIZADORA
						p Carlos Alberto Fernandes Ramos – Presidente da SBP
							br
							|Sueli Aparecida Maeda Pereira – Presidente do Congresso e Tesoureira da SBP 
							br
							|Ricardo Artigiani Neto – Secretário do Congresso e da SBP
							br
							|José Carlos Corrêa – Tesoureiro do Congresso e Vice-presidente para assuntos profissionais da SBP

						h4 COORDENAÇÃO CIENTÍFICA
						p Myriam Dumas Hahn – Presidente 
							br
							| Alexandre Cavalca Tavares 
							br
							| Carlos Renato Almeida Melo
							br
							| Emílio Marcelo Pereira 
							br
							| Leonard Medeiros da Silva
							
						h4 COMISSÃO AD HOC
						p Albina Messias A. Milani Alteman
							br
							| José Carlos Oliveira de Moraes
							br
							| Venâncio Avancini Ferreira Alves

						h4 COMISSÃO PRÊMIO OSVALDO GIANNOTTI FILHO
						p Marcello Fabiano de Franco
							br
							| Ricardo Artigiane Neto
							br
							| Leonard Medeiros da Silva
							br
							| Ângela Flávia Logullo

						h4 COMISSÃO CIENTÍFICA
						p Albina Messias A. Milani Altemani (SP)
							br
							| Alexandre Cavalca Tavares (DF)
							br
							| Alexandre Nakao Odashiro (MS)
							br
							| Alfredo José Afonso Barbosa (MG)
							br
							| Aloísio Souza Felipe da Silva (SP)
							br
							| Ana Luisa Figueira Gouvêa (RJ)
							br
							| Andréa Rodrigues Cordovil Pires (RJ)
							br
							| Athanase Billis (SP)
							br
							| Beatriz Hornburg (SC)
							br
							| Carlos Alberto Fernandes Ramos (PB)
							br
							| Carlos Alberto Ribeiro (MG)
							br
							| Carlos Renato Almeida Melo (RS)
							br
							| Carmen Lúcia Penteado Lancellotti (SP)
							br
							| Celso Rubens Vieira e Silva (BA)
							br
							| Cristovam Scapulatempo Neto (SP)
							br
							| Denise Maria Avancini Costa Malheiros (SP)
							br
							| Eliane Pedra Dias (RJ)
							br
							| Emílio Marcelo Pereira (SP)
							br
							| Enoi Aparecida Guedes Vilar (RJ)
							br
							| Evandro Sobroza de Mello (SP)
							br
							| Fabiano Mesquita Callegari (SP)
							br
							| Fábio Rocha Fernandes Távora (CE)
							br
							| Felipe Correa Geyer (SP) 
							br
							| Fred Ellinger (SP)
							br
							| Geanete Pozzan (SP)
							br
							| Graça Helena Maia do Canto Teixeira (RJ) 
							br
							| Gustavo Rubino de Azevedo Focchi (SP) 
							br
							| Isabela Conde Watanabe (DF)
							br
							| José Carlos Corrêa (MG)
							br
							| José Carlos Oliveira de Morais (RJ)
							br
							| Katia Ramos Moreira Leite (SP)
							br
							| Leda Viegas de Carvalho (SP)
							br
							| Leonard Medeiros da Silva (SP)
							br
							| Leonardo de Abreu Testagrossa (SP)
							br
							| Leonardo Pereira Quintella (RJ) 
							br
							| Ligia Maria Barbosa Coutinho (RS)
							br
							| Liliana Aparecida Lucci De Angelo Andrade (SP)
							br
							| Luciana Rodrigues de Meirelles (SP)
							br
							| Luís Vitor de Lima Salomão (SP)
							br
							| Luiz Antonio Rodrigues de Freitas (BA)
							br
							| Marcello Fabiano de Franco (SP)
							br
							| Marco Antonio Dias Filho (MG)
							br
							| Maria Cláudia Nogueira Zerbini (SP)
							br
							| Maria Fernanda Sanches Soares (PR)
							br
							| Maria Teresa de Seixas (SP)
							br
							| Mariangela Esther Alencar Marques (SP)
							br
							| Mauro Tadeu Ajaj Saieg (SP)
							br
							| Mayra Carrijo Rochael (RJ)
							br
							| Nathalie Henriques Silva Canedo (RJ)
							br
							| Patrícia Sabino de Matos (SP)
							br
							| Paulo Roberto Merçon de Vargas (ES)
							br
							| Renata De Marchi Triglia (SP) 
							br
							| Ricardo Artigiani Neto (SP)
							br
							| Ricardo Karam Kalil (DF)
							br
							| Ricardo Silvestre e Silva Macarenco (SP)
							br
							| Roberto Falzoni (SP)
							br
							| Rodrigo Neves Ferreira (ES)
							br
							| Romulo Loss Mattedi (SP)
							br
							| Rosemary Nascimento (RJ) 
							br
							| Siderley de Souza Carneiro (GO) 
							br
							| Tulio Geraldo de Souza e Souza (BA)
							br
							| Vânia Glória Silami Lopes (RJ)
							br
							| Venâncio Avancini Ferreira Alves (SP)
							br
							| Washington Luis Conrado dos Santos (BA)

				div(class="small-3 columns")
					include sidebar
		include footer