doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES 
						li.current
							a(href="#") MINI-COMISSÃO SL RESIDENTES

				div(class="small-9 columns")
					div.small-12#page-title
						h1
							a(href="#") ÁREA PRIVATIVA DA MINI-COMISSÃO SL

					.small-12.sub-category-menu
						a(href="#").button.bg-secondary.right VOLTAR

					.small-12.blocked-title
						.small-12.left.login_block.bg-primary
							h2
								strong Bem-vindo Dr. (a) Sueli
						p.small-8.left Os trabalhos deverão ser julgados até 30/06/15:
						.small-4.bg-custom.orange.left.grade
							strong FALTAM 20 DIAS e 10:30 HORAS

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-1.bg-secondary Caso
									th.small-4.bg-secondary Tipo
									th.small-4.bg-secondary Área
									th.small-3.bg-secondary Ranking

							tbody.small-12
								tr
									td.small-1 1
									td.small-4 Comunicação Científica
									td.small-4 Patologia Mamária
									td.small-3 1

								//-Ativo \/
								tr
									td.small-1.bg-primary 1
									td.small-4.bg-primary Comunicação Científica
									td.small-4.bg-primary Patologia Mamária
									td.small-3.bg-primary 2

								tr
									td.small-1 1
									td.small-4 Comunicação Científica
									td.small-4 Patologia Mamária
									td.small-3 3

								tr
									td.small-1 1
									td.small-4 Comunicação Científica
									td.small-4 Patologia Mamária
									td.small-3 4

					.small-12.left.vote
						.small-12
							p
								strong Qual o voto da Mini-Comissão?

						.small-12.line.active
							a(href="#").small-12.button.bg-primary Aprovado

						.small-12.line
							a(href="#").small-12.button Reprovado

						.small-12.line
							a(href="#").small-12.button.bg-custom.green-grass Votar

					.small-12.left.tabs-custom
						dl.tabs(data-tab)
							dd.active
								a(href="#imagens") IMAGENS
							dd
								a(href="#historia-clinica") HISTÓRIA CLÍNICA
							dd
								a(href="#diagnostico") DIAGNÓSTICO
							dd
								a(href="#handout") HANDOUT
							dd
								a(href="#bibliografia") BIBLIOGRAFIA
						.tabs-content
							.content.images.active#imagens
								.small-12
									ul.small-block-grid-7
										li
											a(href="#", data-orbit-link="pic1")
												img(src="http://placehold.it/100x100/009988")
										li
											a(href="#", data-orbit-link="pic2")
												img(src="http://placehold.it/100x100/998877")
										li
											a(href="#", data-orbit-link="pic3")
												img(src="http://placehold.it/100x100/887766")
										li
											a(href="#", data-orbit-link="pic4")
												img(src="http://placehold.it/100x100/776655")
										li
											a(href="#", data-orbit-link="pic5")
												img(src="http://placehold.it/100x100/665544")
										li
											a(href="#", data-orbit-link="pic6")
												img(src="http://placehold.it/100x100/554433")
										li
											a(href="#", data-orbit-link="pic7")
												img(src="http://placehold.it/100x100/443322")
								.small-12.orbit-container
									ul.content-slider(data-orbit, data-options="slide_number: false; bullets: false; timer: false; next_class: block-nav-next; prev_class: block-nav-prev; animation: 'fade';")
										li(data-orbit-slide="pic1")
											img(src="http://placehold.it/740x400/009988", alt="")
										li(data-orbit-slide="pic2")
											img(src="http://placehold.it/740x400/998877", alt="")
										li(data-orbit-slide="pic3")
											img(src="http://placehold.it/740x400/887766", alt="")
										li(data-orbit-slide="pic4")
											img(src="http://placehold.it/740x400/776655", alt="")
										li(data-orbit-slide="pic5")
											img(src="http://placehold.it/740x400/665544", alt="")
										li(data-orbit-slide="pic6")
											img(src="http://placehold.it/740x400/554433", alt="")
										li(data-orbit-slide="pic7")
											img(src="http://placehold.it/740x400/443322", alt="")
							.content#historia-clinica
								p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
								p Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.
								p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.
								p Casamentiss faiz malandris se pirulitá, Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer Ispecialista im mé intende tudis nuam golada, vinho, uiski, carirí, rum da jamaikis, só num pode ser mijis. Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
								p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

							.content#diagnostico
								p Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. Nullam leo erat, aliquet quis tempus a, posuere ut mi. Ut scelerisque neque et turpis posuere pulvinar pellentesque nibh ullamcorper. Pharetra in mattis molestie, volutpat elementum justo. Aenean ut ante turpis. Pellentesque laoreet mé vel lectus scelerisque interdum cursus velit auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac mauris lectus, non scelerisque augue. Aenean justo massa.

							.content#handout
								p Casamentiss faiz malandris se pirulitá, Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer Ispecialista im mé intende tudis nuam golada, vinho, uiski, carirí, rum da jamaikis, só num pode ser mijis. Adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

							.content#bibliografia
								p Cevadis im ampola pa arma uma pindureta. Nam varius eleifend orci, sed viverra nisl condimentum ut. Donec eget justis enim. Atirei o pau no gatis. Viva Forevis aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Copo furadis é disculpa de babadis, arcu quam euismod magna, bibendum egestas augue arcu ut est. Delegadis gente finis. In sit amet mattis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis. Pellentesque viverra accumsan ipsum elementum gravidis.

				div(class="small-3 columns")
					include sidebar
		include footer