doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES
						li.current
							a(href="#") COMISSÃO AD HOC

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") COMISSÃO AD HOC 

					.small-12.sub-category-menu
						a(href="#").button.bg-secondary.right VOLTAR
					
					.small-12.blocked-title
						.small-12.left.login_block.bg-primary 
							h2 
								strong Bem-vindo Dr. (a) Sueli
						p.small-8.left Os trabalhos deverão ser julgados até 30/06/15:
						.small-4.bg-custom.orange.left.grade
							strong FALTAM 20 DIAS e 10:30 HORAS

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-7.bg-secondary Título
									th.small-2.bg-secondary Tipo
									th.small-2.bg-secondary Área
									th.small-1.bg-secondary Edição
							tbody.small-12
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

					.small-12.left
						.small-6.left.doc-preview
							.accompanying-title.small-12.left
								h2.small-12.left Título:
								p.small-10.left O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
								a(href="#").small-2.left.icon-folder-move
							.doc-content.small-12.left
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.

						.small-6.left.doc-evaluation
							form.row
								div.small-12.columns
									div(data-alert class="alert-box") Avaliação realizada!
										a(href="#" class="close") &times;

								div.small-12.left.columns.nota.radio-custom
									p Dê nota de 1 a 10:
									.columns.left
										input(type="radio" name="nota" value="1" id="nota1")
										label(for="nota1") 1
									.columns.left
										input(type="radio" name="nota" value="1" id="nota2")
										label(for="nota2") 2
									.columns.left
										input(type="radio" name="nota" value="1" id="nota3")
										label(for="nota3") 3
									.columns.left
										input(type="radio" name="nota" value="1" id="nota4")
										label(for="nota4") 4
									.columns.left
										input(type="radio" name="nota" value="1" id="nota5")
										label(for="nota5") 5
									.columns.left
										input(type="radio" name="nota" value="1" id="nota6")
										label(for="nota6") 6
									.columns.left
										input(type="radio" name="nota" value="1" id="nota7")
										label(for="nota7") 7
									.columns.left
										input(type="radio" name="nota" value="1" id="nota8")
										label(for="nota8") 8
									.columns.left
										input(type="radio" name="nota" value="1" id="nota9")
										label(for="nota9") 9
									.columns.left
										input(type="radio" name="nota" value="1" id="nota10")
										label(for="nota10") 10

								div.small-12.columns.checkbox-custom
									p Marque se este trabalho deve concorrer a algum prêmio:
									.small-12
										input(id="checkbox1" type="checkbox")
										label(for="checkbox1") Prêmio SBP
									.small-12
										input(id="checkbox2" type="checkbox")
										label(for="checkbox2") Prêmio Médico Residente
									.small-12
										input(id="checkbox3" type="checkbox")
										label(for="checkbox3") Prêmio Osvaldo Giannotti Filho

								div.small-12.columns
									p Caso deseje, você pode fazer observações.
									textarea(class="text" placeholder="Observações")

								div.small-12.columns
									button.button.small-12.bg-custom.green-grass FINALIZAR AVALIAÇÃO

				div(class="small-3 columns")
					include sidebar
		include footer