doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") ÁREA PRIVATIVA DAS COMISSÕES
						li.current
							a(href="#") COORDENAÇÃO CIENTÍFICA

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") COORDENAÇÃO CIENTÍFICA

					.small-12.sub-category-menu
						a(href="#").button.bg-secondary.right VOLTAR

					.small-12.blocked-title
						.small-12.left.login_block.bg-primary 
							h2 
								strong Bem-vindo Dr. (a) Sueli
						p.small-8.left Os trabalhos deverão ser julgados até 30/06/15:
						.small-4.bg-custom.orange.left.grade
							strong FALTAM 20 DIAS e 10:30 HORAS

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-7.bg-secondary Título
									th.small-2.bg-secondary Tipo
									th.small-2.bg-secondary Área
									th.small-1.bg-secondary Edição

							tbody.small-12
								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Comunicação Científica
									td.small-2 Patologia Mamária
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

								tr
									td.small-7 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Relato de Caso
									td.small-2 Dermatopatologia
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#").icon-x.red

					.small-12.left
						.small-6.left.doc-preview
							.accompanying-title.small-12.left
								h2.small-12.left Título:
								p.small-10.left O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
								a(href="#").small-2.left.icon-folder-move

								h2.small-12.left Área:
								p.small-10.left Patologia Cigúrgica

								h2.small-12.left Tipo:
								p.small-10.left Relato de Caso

							.doc-content.small-12.left
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tempus mi nec eros pretium, vitae molestie urna semper. Etiam eget arcu adipiscing, tincidunt risus ac, dapibus dui. Donec in dictum sem, ut molestie nulla. Duis vel aliquam quam. Proin tristique, magna vitae lacinia semper, nulla massa dictum mi, quis adipiscing quam massa quis orci. Pellentesque vel ligula sem. Aenean mollis dui et nibh suscipit feugiat. Nulla rhoncus eget leo ut fringilla.

						.small-6.left
							.small-12.left
								.accompanying-title.small-12.left
									h2.small-12.left Votos da Comissão Científica:

							.small-12.left.doc-evaluation
								form.row
									div.small-12.columns 
										p Selecione um item para exibir as observações:

									div.small-12.columns.radio-custom.red
										input(type="radio" name="status-atual" value="1" id="nao-aprovado-atual" checked="checked")
										label(for="nao-aprovado-atual") Não Aprovado

									.doc-content-table.small-12.columns
										.small-12.left.table-custom
											table.small-12
												thead.small-12
													tr
														th.small-6.bg-secondary Avaliadores
														th.small-6.bg-secondary Aprovação

												tbody.small-12
													tr
														td.small-6 
															a(href="#") Avaliador 1
														td.small-6 Apresentação Oral
													tr
														td.small-6 
															a(href="#") Avaliador 2
														td.small-6 Apresentação Oral
													tr
														td.small-6 
															a(href="#") Avaliador 3
														td.small-6 Apresentação Oral
													tr
														td.small-6 
															a(href="#") Avaliador 4
														td.small-6 Apresentação Oral
													tr
														td.small-6 
															a(href="#") Avaliador 5
														td.small-6 Apresentação Oral
													tr
														td.small-6 
															a(href="#") Avaliador 6
														td.small-6 Apresentação Oral

									div.small-12.columns
										select
											option(value="") FORA DAS NORMAS ESTABELECIDAS
											option(value="opcao1") Opção 1
											option(value="opcao2") Opção 2
											option(value="opcao3") Opção 3
											option(value="opcao4") Opção 4

									div.small-12.columns
										.panel Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc temspus mi nec eros pretium, vitae molestie ursqna sesmpe. Duis vel aliquam quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit adipiscing elit.

									div.small-12.columns.radio-custom.light-gray
										input(type="radio" name="status-atual" value="2" id="poster-atual")
										label(for="poster-atual") Aprovado para Poster

									div.small-12.columns.radio-custom.light-gray
										input(type="radio" name="status-atual" value="3" id="oral-atual")
										label(for="oral-atual") Aprovado para Apresentação Oral

							.small-12.left
								.accompanying-title.small-12.left
									br
									h2.small-12.left Votos da Coordenação Científica:

							.small-12.left.doc-evaluation
								form.row
									div.small-12.columns 
										p Selecione uma opção e clique em “Finalizar”:
		
									div.small-12.columns.radio-custom
										input(type="radio" name="status" value="1" id="nao-aprovado")
										label(for="nao-aprovado") Não Aprovado

									div.small-12.columns.radio-custom
										input(type="radio" name="status" value="2" id="poster")
										label(for="poster") Aprovado para Poster

									div.small-12.columns.radio-custom
										input(type="radio" name="status" value="3" id="oral")
										label(for="oral") Aprovado para Apresentação Oral

									div.small-12.columns
										button.button.small-12.bg-custom.green-grass FINALIZAR AVALIAÇÃO

				div(class="small-3 columns")
					include sidebar
		include footer