.row
	.content_block.left
		h2
			| CONGRESSO DE 
			span HISTOTECNOLOGIA
		.small-12.left
			.small-3.columns
				img(src="images/sociedade_brasileira_histotecnologia.jpg", alt="")
			.small-9.columns
				p O XIX Congresso Brasileiro de Histotecnologia acontecerá de 30 de outubro a 1º de novembro de 2015 em São Paulo,simultaneamente ao 30º Congresso Brasileiro de Patologia.
				p Inscrições a partir de 01/12/2014.
					br
					| Para mais informações, acesse: 
					a(href="#")  www.sbhistotecnologia.bio.br
		.small-12.left
			a(href="#") Para acessar a programação completa. Clique aqui >