doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrição local

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") EXPORTAR INSCRIÇÕES

					.row.collapse
						.small-6.columns
							p.lead Inscrições Ativas:
								br
								small Selecione as inscrições que deseja exportar.
						.small-6.columns
							form
								.row.collapse
									.small-12.columns
										input(type="text" placeholder="Pesquise pelo status")

					.row
						.small-12.column.table-custom
							table.small-12
								thead.small-12
									tr
										th.bg-secondary N&deg; Pedido
										th.bg-secondary N&deg; Ficha
										th.bg-secondary Data
										th.bg-secondary Nome
										th.bg-secondary Categoria
										th.bg-secondary Inscrito
								tbody.small-12
									- var lines = 16; var n = 1;
									while n <= lines
										tr
											td= n++
											td= Math.floor((Math.random() * 100) * n + 1)
											td= n + '/11/2015'
											td Raul José Ramalho
											td Associado
											td
							ul.pagination.right(role='menubar' aria-label='pagination')
								- var pages = 8; var j = 2;
								li.arrow.unavailable(aria-disabled='true')
									a.icon-a-left(href='#')
								li.current
									a(href='#') 1
								while j < pages
									li
										a(href='#')= j++
								li.arrow
									a.icon-a-right(href='#')

					div(class="small-12")
						.row
							.small-12.columns
								a.button.expand.bg-primary(href="#") EXPORTAR INSCRIÇÕES

				div(class="small-3 columns")
					include sidebar
		include footer