doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li
							a(href="#") TRABALHOS CIENTÍFICOS
						li.current
							a(href="#") SUBMETER RESUMOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") SUBMETER RESUMOS

					div.sub-category-menu
						a(href="#").button.current TRABALHOS CIENTÍFICOS
						a(href="#").button SL RESIDENTES
						a(href="#").button TRABALHOS APROVADOS

					.small-12
						a(href="#").button.small-12.bg-secondary
							strong INSERIR NOVO TRABALHO

					.small-12.left
						.small-12.left.login_block.bg-primary 
							h2 
								strong Olá PARTICIPANTE,
							p Aqui você pode visualizar, editar e submeter seus trabalhos.

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-1.bg-secondary Data
									th.small-2.bg-secondary Autor
									th.small-4.bg-secondary Título
									th.small-2.bg-secondary Co-autores
									th.small-2.bg-secondary Status
									th.small-1.bg-secondary Edição

							tbody.small-12
								tr
									td.small-1 13/11/2013
									td.small-2 Helenice Gobbi
									td.small-4 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Kato, André
									td.small-2 Em elaboração
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#", data-reveal-id="modal-remove-case").icon-x.red
								tr
									td.small-1 13/11/2013
									td.small-2 Helenice Gobbi
									td.small-4 O que mudou na nova classificação dos tumores de mama da OMS de 2012: implicações práticas.
									td.small-2 Kato, André
									td.small-2 Em elaboração
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#", data-reveal-id="modal-remove-case").icon-x.red

					.small-12.left
						.small-12.left.login_block.bg-secondary 
							h2 
								strong PARABÉNS!
							p Seu trabalho foi enviado com SUCESSO!
							br
							p O resultado será publicado no site de acordo com o calendário.
							br
							p Fique de olho!
							p Boa sorte!

				.small-3.columns
					include sidebar

				//- Modal para submit
				include modal-remove-case

		include footer