doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li
							a(href="#") SEMINÁRIO DE LÂMINAS
						li.current
							a(href="#") SUBMETER RESUMOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") SUBMETER SEMINÁRIO

					div.sub-category-menu
						a(href="#").button TRABALHOS CIENTÍFICOS
						a(href="#").button.current SL RESIDENTES
						a(href="#").button TRABALHOS APROVADOS

					.small-12.left
						.small-12.left.login_block.bg-primary 
							h2 
								strong Olá PARTICIPANTE,
							p Aqui você pode visualizar, editar e submeter seu seminário de lâminas.

					.small-12.left.table-custom
						table.small-12
							thead.small-12
								tr
									th.small-1.bg-secondary Caso
									th.small-3.bg-secondary Tipo
									th.small-3.bg-secondary Área
									th.small-2.bg-secondary Status
									th.small-2.bg-secondary Submetido
									th.small-1.bg-secondary Edição

							tbody.small-12
								tr
									td.small-1 1
									td.small-3 Autópsia
									td.small-3 Patologia Mamária
									td.small-2 Em elaboração
									td.small-2 10/06/2015
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#", data-reveal-id="modal-remove-case").icon-x.red

								tr
									td.small-1 1
									td.small-3 Autópsia
									td.small-3 Patologia Mamária
									td.small-2.blue Caso enviado
									td.small-2 10/06/2015
									td.small-1 
										a(href="#").icon-edit.dark-gray
										a(href="#", data-reveal-id="modal-remove-case").icon-x.red

					.small-12.bg-secondary.left
						h2.small-12.box-title ADICIONAR NOVO CASO

					.small-12.left.tabs-upload
						dl.tabs(data-tab)
							dd.active
								a(href="#imagens") IMAGENS
							dd
								a(href="#historia-clinica") HISTÓRIA CLÍNICA
							dd
								a(href="#diagnostico") DIAGNÓSTICO
							dd
								a(href="#handout") HANDOUT
							dd
								a(href="#bibliografia") BIBLIOGRAFIA

						.tabs-content
							.content.images.active#imagens
								.small-12
									.small-10.columns
										p Publique aqui as imagens do caso.
									.small-2.columns
										.small-6.columns
											a(href="#").icon-detail.right.primary
										.small-6.columns
											a(href="#").icon-exclude.right.red
								.small-12.upload-image
									ul.small-block-grid-4
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li.active
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
										li
											a(href="#")
												span.icon-check
												img(src="http://placehold.it/150x100")
									p Selecione as imagens e clique em “carregar”:
									.small-12.upload-bar
										.small-8.left
											form
												input(type="text" placeholder="CLIQUE AQUI PARA PROCURAR SUAS IMAGENS")
										.small-2.left
											span.icon-drive.right
										.small-2.left
											.button.bg-custom.green-grass.right.tiny
												strong CARREGAR
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
							.content#historia-clinica
								p Digite a História Clinica.
								textarea(id="historiaClinicaEdit")
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
									.button.bg-custom.green-grass.right Criar Caso

							.content#diagnostico
								p Digite o Diagnóstico.
								textarea(id="diagnosticoEdit")
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
									.button.bg-custom.green-grass.right Criar Caso

							.content#handout
								p Digite o Handout.
								textarea(id="handoutEdit")
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
									.button.bg-custom.green-grass.right Criar Caso

							.content#bibliografia
								p Digite a Bibliografia.
								textarea(id="bibliografiaEdit")
								.save.small-12
									p.blue.left Dados salvos com sucesso.						
									.button.bg-custom.green-grass.right Criar Caso


				div(class="small-3 columns")
					include sidebar

				//- Modal para remover
				include modal-remove-case

		include footer