doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li.current
							a(href="#") SEMINÁRIO DE LÂMINAS DE RESIDENTES

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") SEMINÁRIO DE LÂMINAS DE RESIDENTES

					div.sub-category-menu
						a(href="#").button TRABALHOS CIENTÍFICOS
						a(href="#").button.current SL RESIDENTES
						a(href="#").button TRABALHOS APROVADOS

					.small-12.left
						.small-12.bg-secondary.left
							h2.small-12.box-title.icon-upload.left Submeter Seminário de Lâminas
						.small-12.login_block.left
							form
								div.small-12.columns
									h2 Para submeter seus seminários faça o login:

								div.small-6.columns.box
									.small-2.columns
										.icon-user
									.small-10.columns
										input(type="text" placeholder="E-MAIL")

								div.small-5.columns.box
									.small-2.columns
										.icon-key
									.small-10.columns
										input(type="text" placeholder="SENHA")

								div.small-1.columns.box
									button.button OK

								div.small-12.columns
									p Ainda não efetuou seu cadastro? 
										a(href="#")  Clique aqui e cadastre-se agora.

					.small-12.left
						dl.small-12.accordion(data-accordion)
							dd.accordion-navigation.small-12.left
								a(href="#instrucoes").bg-secondary.small-12.left
									h2.small-12.box-title.icon-copy Instruções para concorrer ao Prêmio SL Residentes
								div#instrucoes.content.small-12.left.content_block
									br 
									
									p 1. Podem participar médicos residentes, associados adimplentes da SBP, matriculados em residências médicas credenciadas de todo o país.

									p 2. O médico residente deve estar previamente inscrito no congresso.

									p 3. O material deve ser submetido exclusivamente via site.

									p 4. O interessado deve enviar o caso (autópsia, patologia cirúrgica ou citologia) acompanhado de história clínica (até 300 caracteres com espaço), exames complementares pertinentes, achados anatomopatológicos, diagnóstico diferencial, seguimento clínico, discussão, diagnóstico final e referências bibliográficas. O handout deve ser ilustrado com oito imagens em formato jpg, tamanho mínimo de 640x480, que melhor representem os aspectos macro e microscópicos, além de eventuais colorações especiais.

									p 5. Os casos serão analisados por uma comissão designada para este fim, sem identificação do médico residente e do serviço ao qual ele pertence. Os ganhadores deverão enviar para a SBP (Rua Ambrosina de Macedo, 79 – Vila Mariana, SP CEP 04013-030) uma lâmina para ser digitalizada (corada em HE), identificada como “Seminário de lâminas dos residentes” e o nome do apresentador.

									p 6. Serão escolhidos seis casos para serem apresentados em 15 minutos cada, com mais 5 minutos para comentários.

									p 7. 01 de junho de 2015 – Data final para submissão de casos para o Seminário de Lâminas dos Residentes.

				div(class="small-3 columns")
					include sidebar
		include footer