doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li
							a(href="#") TRABALHOS CIENTÍFICOS
						li.current
							a(href="#") SUBMETER RESUMOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") SUBMETER RESUMOS

					.small-12.left
						.small-12.left.login_block.bg-primary 
							h2 
								strong PARTICIPANTE,
							p Confirme seus dados para prosseguir.

					div.small-12.left.content_block
						p
							strong Dados do primeiro autor

						form.row
							div.small-12.columns
								input(type="text" placeholder="Nome Completo", value="André Kato Maltese")

							div.small-12.columns
								input(type="text" placeholder="", value="MALTESE")

							div.small-12.columns
								input(type="text" placeholder="", value="AKM")

							div.small-12.columns
								input(type="text" placeholder="UNIVERSIDADE / INSTITUIÇÃO")

							div.small-8.columns
								select
									option(value="") Cidade
									option(value="opcao1") Opção 1
									option(value="opcao2") Opção 2
									option(value="opcao3") Opção 3
									option(value="opcao4") Opção 4

							div.small-4.columns
								select
									option(value="") UF
									option(value="opcao1") Opção 1
									option(value="opcao2") Opção 2
									option(value="opcao3") Opção 3
									option(value="opcao4") Opção 4

							div.small-12.columns
								select
									option(value="") País
									option(value="opcao1") Opção 1
									option(value="opcao2") Opção 2
									option(value="opcao3") Opção 3
									option(value="opcao4") Opção 4

							div.small-12.columns
								button.right.button.secondary CONFIRMAR DADOS
								button.left.button.bg-custom.dark-gray VOLTAR

				div(class="small-3 columns")
					include sidebar
		include footer