doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li.current
							a(href="#") TRABALHOS CIENTÍFICOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") TRABALHOS CIENTÍFICOS

					div.sub-category-menu
						a(href="#").button.current TRABALHOS CIENTÍFICOS
						a(href="#").button SL RESIDENTES
						a(href="#").button TRABALHOS APROVADOS

					.small-12.left
						.small-12.bg-secondary.left
							h2.small-12.box-title.icon-upload.left Submeter Seminário de Lâminas
						.small-12.login_block.left
							form
								div.small-12.columns
									h2 Para submeter seus seminários faça o login:

								div.small-6.columns.box
									.small-2.columns
										.icon-user
									.small-10.columns
										input(type="text" placeholder="E-MAIL")

								div.small-5.columns.box
									.small-2.columns
										.icon-key
									.small-10.columns
										input(type="text" placeholder="SENHA")

								div.small-1.columns.box
									button.button OK

								div.small-12.columns
									p Ainda não efetuou seu cadastro? 
										a(href="#")  Clique aqui e cadastre-se agora.

					.small-12.left
						dl.small-12.accordion(data-accordion)
							dd.accordion-navigation.small-12.left.active
								a(href="#informacoes").bg-secondary.small-12.left
									h2.small-12.box-title.icon-copy Informações Gerais

								div#informacoes.content.small-12.left.content_block.active
									br
									p A Comissão Científica do 30º Congresso Brasileiro de Patologia tem o prazer de convidá-lo(a) para submeter trabalhos de temas livres na forma de resumos. Siga rigorosamente as instruções a seguir. A data limite para envio de trabalhos é 20 de maio de 2015, às 23h59.

									h3 Informações gerais

									p 1. Somente será aceito material científico original, que não tenha sido previamente publicado ou apresentado em congressos anteriores da SBP. Contudo, trabalhos apresentados em outras reuniões científicas, regionais ou internacionais, podem ser submetidos.
									p 2. É necessário que o primeiro autor, responsável pela apresentação do trabalho, esteja inscrito no Congresso. Este autor será o interlocutor com a organização e receberá toda correspondência referente ao trabalho. É importante conferir os dados pessoais e endereço. É igualmente importante se certificar, junto aos demais autores, se outra pessoa também enviou o trabalho, para evitar duplicidade.
									p 3. Os trabalhos podem ser redigidos em português, espanhol ou inglês. Porém, qualquer que seja a língua escolhida é fundamental que esteja gramaticalmente correta, caso contrário, poderá ser motivo de recusa do resumo. Lembrar que o resumo, caso aceito, será publicado nos anais do Congresso e sua qualidade deve ser incontestável.
									p 4. Os trabalhos devem ser submetidos exclusivamente via site. Após o cadastro, os mesmos ficarão disponíveis no site e o autor, após fazer login, poderá revê-los e modificá-los até o prazo final de submissão.
									p 5. Os trabalhos serão divididos em duas categorias principais: I - Comunicações Científicas e II - Relatos de Casos. Também serão categorizados por área de conhecimento da Patologia, conforme lista. Eventualmente, para apresentação, alguns trabalhos poderão ser reagrupados.
									p 6. Os Trabalhos serão avaliados anonimamente pelos membros da Comissão Científica, sendo sua decisão inapelável.
									p 7. Depois de aceitos, os trabalhos serão selecionados para apresentação na forma de pôster ou oral. Os resumos com as comunicações científicas mais relevantes serão selecionados para apresentação oral. Estes trabalhos devem suscitar discussão que contribua significativamente para o progresso da especialidade e aprimoramento dos participantes do evento.									

							dd.accordion-navigation.small-12.left
								a(href="#instrucoes").bg-secondary.small-12.left
									h2.small-12.box-title.icon-copy Instruções para Envio / Submeter Trabalhos

								div#instrucoes.content.small-12.left.content_block
									br
									h3 Instruções para envio
									p 1. Clicar no link SUBMETER TRABALHOS e fazer login. O autor logado no sistema será o 1º autor e seus dados já serão apresentados na tela.
									p 2. Preencher os campos dos demais autores com nome completo, instituição, cidade, UF e país. Exemplo: JOSÉ DA SILVA, Universidade de Jupiá, Tabatinguera, MS, Brasil. 
									p 3. Título: Em letras maiúsculas; Fonte Arial 10; espaço simples; máximo de 250 caracteres, incluindo espaços (utilize o contador de palavras e letras do Word). 
									p 4. Texto: Fonte Arial 10; espaço simples; máximo de 1.800 caracteres, incluindo espaços. Não colocar o nome da instituição financiadora no corpo do resumo. Deve ser estruturado da seguinte forma: I. Comunicações Científicas: Introdução/Objetivos; Material e Métodos: Resultados/Conclusões. II. Relatos de Casos: Introdução/Objetivos (justificar em que a apresentação do caso é relevante e contribuirá para os participantes do evento); Descrição do caso (dados clínicos relevantes; dados patológicos – macro, micro, imuno, outros); Conclusões. Não inserir gráficos, tabelas ou figuras no texto.
									p.small-alert
										strong.red IMPORTANTE:
										|  Erros na formatação podem resultar na rejeição do trabalho, independente da sua qualidade. Não serão aceitas correções posteriores ao prazo de submissão dos trabalhos. A qualidade do mesmo deve ser incontestável, uma vez que resultará em publicação permanente.

							dd.accordion-navigation.small-12.left
								a(href="#calendario").bg-secondary.small-12.left
									h2.small-12.box-title.icon-calendar Calendário

								div#calendario.content.small-12.left.content_block
									br
									.small-12.left.table-custom
										table.small-12
											thead.small-12
												tr
													th.small-4.bg-custom.dark-gray Data
													th.small-8.bg-custom.dark-gray Descrição

											tbody.small-12
												tr
													td.small-4 20 de maio de 2015
													td.small-8 Data final para submissão de trabalhos de Temas Livres.
												tr
													td.small-4 01 de junho de 2015
													td.small-8 Data final para submissão de casos para o Seminário de Lâminas dos Residentes.
												tr
													td.small-4 30 de julho de 2015
													td.small-8 Divulgação dos trabalhos aceitos no site do congresso. O primeiro autor dos resumos não selecionados será informado por e-mail.
												tr
													td.small-4 20 de agosto de 2015
													td.small-8 Data final para envio do pôster, no formato pdf e com até 5 MB (megabytes), dos trabalhos que estiverem concorrendo ao prêmio Médico Residente.
												tr
													td.small-4 29 de setembro de 2015
													td.small-8 Divulgação da data, horário e local da apresentação oral ou do pôster no site do congresso.
												tr
													td.small-4 31 de outubro de 2015
													td.small-8 Divulgação e entrega dos prêmios (durante a festa de encerramento).

							dd.accordion-navigation.small-12.left
								a(href="#areas-de-conhecimento").bg-secondary.small-12.left
									h2.small-12.box-title.icon-lamp Áreas de Conhecimento

								div#areas-de-conhecimento.content.small-12.left.content_block
									br
									p Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

				div(class="small-3 columns")
					include sidebar
		include footer