doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") TRABALHOS E SL RESIDENTES
						li
							a(href="#") TRABALHOS CIENTÍFICOS
						li.current
							a(href="#") SUBMETER RESUMOS

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") SUBMETER RESUMOS

					.small-12.blocked-title-reverse
						.small-8.left
							p Digite seu trabalho seguindo as intruções abaixo.
						.small-4.bg-custom.orange.left.grade
							strong FALTAM 20 DIAS e 10:30 HORAS
						.small-12.left.login_block.bg-primary 
							p Você pode editar o texto quantas vezes desejar até a data final de submissão.
								br
								| Quando o resumo estiver finalizado clique em “Submeter”.

					form.small-12.left
						.small-3.left.content_block.custom-small
							p Primeiro Autor:
						.small-9.left.content_block
							.row
								.small-12.columns
									input(type="text" placeholder="Nome Completo", value="André Kato Maltese")

								.small-9.columns
									input(type="text" placeholder="", value="MALTESE")

								.small-9.columns
									input(type="text" placeholder="", value="AKM")

								.small-9.columns
									input(type="text" placeholder="UNIVERSIDADE / INSTITUIÇÃO")

								.small-6.columns
									select
										option(value="") Cidade
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

								.small-3.columns
									select
										option(value="") UF
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

								.small-9.columns
									select
										option(value="") País
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								.small-3.columns

						.small-3.left.content_block.custom-small
							p Coautores:
						.small-9.left.content_block
							.row
								.small-9.columns
									input(type="text" placeholder="Nome Completo", value="José Maria de Oliveira Mendonça")
								.small-3.columns.edit
									a(href="#").icon-edit.dark-gray
									a(href="#").icon-x.red

								.small-9.columns
									input(type="text" placeholder="E-mail")
									br

								.small-9.columns
									input(type="text" placeholder="", value="Mendonça")

								.small-9.columns
									input(type="text" placeholder="", value="JMO")

								.small-9.columns
									input(type="text" placeholder="UNIVERSIDADE / INSTITUIÇÃO")

								.small-6.columns
									select
										option(value="") Cidade
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

								.small-3.columns
									select
										option(value="") UF
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4

								.small-9.columns
									select
										option(value="") País
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
										option(value="opcao3") Opção 3
										option(value="opcao4") Opção 4
								.small-3.columns
									button.button.bg-custom.green-grass.tiny CADASTRAR
									br
									br

						.small-3.left.content_block
						.small-9.left.content_block
							.row
								.small-9.columns
									input(type="text" placeholder="CADASTRE O PRÓXIMO COAUTOR")
								.small-3.columns.edit
									a(href="#").icon-plus.ocean

						.small-3.left.content_block.custom-small
							p Tipo do Trabalho:
						.small-9.left.content_block
							.small-6
								select
									option(value="") Patologia Mamária
									option(value="opcao1") Opção 1
									option(value="opcao2") Opção 2
									option(value="opcao3") Opção 3
									option(value="opcao4") Opção 4

						.small-3.left.content_block.custom-small
							p Área do Trabalho:
						.small-9.left.content_block
							.small-6
								select
									option(value="") Relato de Casos
									option(value="opcao1") Opção 1
									option(value="opcao2") Opção 2
									option(value="opcao3") Opção 3
									option(value="opcao4") Opção 4

						.small-3.left.content_block.custom-small
							p Título:
						.small-9.left.content_block
							.small-12
								label LETRAS MAIÚSCULAS
									span.right.red Tamanho até 250 caracteres incluindo espaços
									textarea

						.small-3.left.content_block.custom-small
							p Agência de Fomento:
						.small-9.left
							.small-12
								label 
									span.right.red Tamanho até 50 caracteres incluindo espaços
									input(type="text" placeholder="NOME DA AGÊNCIA/EMPRESA")
									| Informar aqui agência de fomento caso o trabalho tenha recebido apoio financeiro.

							.small-12.content_block
								br
								h3 Estrutura:
								ul
									li Introdução/Objetivos - Justificar em que a apresentação do seu caso é relevante e contribuirá para os participantes do evento.
									li Material e Métodos - Dados clínicos relevantesl; dados patológicos relevantes; macro; micro; imuno; outros.
									li Conclusões

							.small-12.login_block.bg-primary
								p Abaixo digite o texto do Resumo obedecendo a estrutura. A quantidade de caracteres é exibida acima do texto à direita. O texto será salvo automaticamente a cada 5 minutos. Para salvar a qualquer momento clique em “Salvar”.

						.small-3.left.content_block.custom-small
							p Texto:
						.small-9.left.content_block
							.small-12
								label 
									button.button.secondary SALVAR
									span.right.red Tamanho até 250 caracteres incluindo espaços
									textarea
						.small-12.left.login_block.bg-custom.red-blood
							p IMPORTANTE: Erros na forma poderão resultar na rejeição do resumo, independentemente da sua qualidade. Não serão solicitadas correções, não serão aceitas correções posteriores à submissão dos resumos. A qualidade do resumo deve ser incontestável, uma vez que resultará em publicação permanente.

						.small-12.left.content_block
							button.button.bg-custom.dark-gray VOLTAR
							button.right.button.bg-custom.green-grass(data-reveal-id="modal-submit-ok") SUBMETER RESUMO

				.small-3.columns
					include sidebar

				//- Modal para submit
				include modal-submit-ok

		include footer