script(type="text/javascript").
	var local_data = { from: '!{from}', to: '!{to}' }
	console.log(local_data);
	console.log(local_data.from);

footer
	section.big-banners(role="banners")
		ul(data-orbit='data-orbit' data-options='animation:fade; navigation_arrows:false; timer:false; slide_number:false;')
			li.active
				img(src="images/141003-banner-footer-programacao-cientifica-1440.jpg" data-interchange="[images/141003-banner-footer-programacao-cientifica-1440.jpg, (default)], [images/141003-banner-footer-programacao-cientifica-1920.jpg, (only screen and (min-width: 1440px))]", alt='slide 2')
				.row
					.orbit-caption
						h4 PROGRAMAÇÃO
							br
							span CIENTÍFICA
						br
						a(href="#")
							strong veja a programação completa &#8250;
			li
				img(src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/EE964D/fff, (default)], [http://placehold.it/1920x320/EE964D/fff, (only screen and (min-width: 1440px))]", alt='slide 1' )
				.row
					.orbit-caption
						h4 Caption Two&nbsp;
							span second line
						br
						a(href="#")
							strong veja a programação completa &#8250;
			li
				img(src="http://placehold.it/1440x320/FDC43D/fff" data-interchange="[http://placehold.it/1440x320/FDC43D/fff, (default)], [http://placehold.it/1920x320/FDC43D/fff, (only screen and (min-width: 1440px))]", alt='slide 3')
				.row
					.orbit-caption
						h4 Caption Three&nbsp;
							span second line
						br
						a(href="#")
							strong veja a programação completa &#8250;
	.row
		#subscribe.small-8.columns
			h4 Você já se inscreveu?
			a(href="#")
					strong
						| veja mais informações &#8250;
		.small-4.columns
			h4.text-right Inscreva-se Agora!

	- if ( from == 'app/index.jade' ) {
		include congresso-footer
	- } else {
		//- nothing to see here!
	- }
	section(role="sitemap")
		.row
			.small-6.columns
				img(src="images/congresso_brasileiro_patologia_white.png")
				em Agências Promotora e de Viagens:
				.row
					.small-5.columns
						a(href="#").sprites-footer.interevent
					.small-5.columns.end
						a(href="#").sprites-footer.diferencial
			.small-3.columns
				ul
					li
						a(href="#").uppercase Home
					li
						a(href="#").uppercase O Congresso
					li
						a(href="#") Programação
					li
						a(href="#") Comissão
					li
						a(href="#") Palestrantes
					li
						a(href="#") Trabalhos
					li
						a(href="#") Informações
					li
						a(href="#").uppercase Inscrições
					li
						a(href="#").uppercase Fale Conosco
			.small-3.columns
				ul
					li
						div(itemscope='itemscope', itemtype='http://schema.org/Organization')
							h5
								| contatos
								span(itemprop='telephone') +55 (21) 3326-3320
					li
						a(href="mailto:patologia2015@interevent.com.br", itemprop='email') patologia2015@interevent.com.br
					li
						div(itemprop='address', itemscope, itemtype='http://schema.org/PostalAddress')
							span(itemprop='streetAddress')
								| Av. das Americas 3500
								br
								| Bl. Hong Kong 3000 Sl. 405
							span(itemprop='addressLocality') Barra da Tijuca -
								span(itemprop='addressRegion') RJ
				.row.collapse
					.small-7.small-offset-1.column
						.icon-bar.three-up.social-icons
							a.icon-twitter.item(href='#')
							a.icon-facebook.item(href='#')
							a.icon-googleplus.item(href='#')
		.row.collapse
			em Patrocínio:
			ul.small-block-grid-4
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
		.row.collapse
			ul.small-block-grid-5
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
		.row.collapse
			ul.small-block-grid-8
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
				li
					img(src='http://placehold.it/132x84')
	section(role='copyright')
		.row.collapse
			.small-8.columns
				ul.small-block-grid-5
					li
						em Realização:
					li
						a(href="#").sprites-footer.sbp
					li
						em Apoio:
					li
						a(href="#").sprites-footer.academy
					li
						a(href="#").sprites-footer.amb
			.small-4.columns
				small &copy; Todos os direitos reservados a Sociedade Brasileira de Patologia


// build:js js/vendor/libraries.min.js
// bower:js
script(src='bower_components/jquery/dist/jquery.js')
script(src='bower_components/fastclick/lib/fastclick.js')
// endbower
script(src='js/tiny.editor.js')
// endbuild
// build:js js/vendor/foundation.min.js
script(src="bower_components/foundation/js/foundation/foundation.js")
//- script(src="bower_components/foundation/js/foundation/foundation.abide.js")
script(src="bower_components/foundation/js/foundation/foundation.accordion.js")
script(src="bower_components/foundation/js/foundation/foundation.alert.js")
script(src="bower_components/foundation/js/foundation/foundation.clearing.js")
//- script(src="bower_components/foundation/js/foundation/foundation.dropdown.js")
script(src="bower_components/foundation/js/foundation/foundation.equalizer.js")
script(src="bower_components/foundation/js/foundation/foundation.interchange.js")
//- script(src="bower_components/foundation/js/foundation/foundation.joyride.js")
script(src="bower_components/foundation/js/foundation/foundation.magellan.js")
//- script(src="bower_components/foundation/js/foundation/foundation.offcanvas.js")
script(src="bower_components/foundation/js/foundation/foundation.orbit.js")
script(src="bower_components/foundation/js/foundation/foundation.reveal.js")
//- script(src="bower_components/foundation/js/foundation/foundation.slider.js")
script(src="bower_components/foundation/js/foundation/foundation.tab.js")
script(src="bower_components/foundation/js/foundation/foundation.tooltip.js")
script(src="bower_components/foundation/js/foundation/foundation.topbar.js")
// endbuild
// build:js js/app.min.js
script(src="js/app.js")
// endbuild
