doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Programação Científica

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Programação Científica
					div.sub-category-menu
						a(href="/informacoes.html").button.current Grade Científica
						a(href="/informacoes-viagem.html").button Programação Científica
						a(href="/informacoes-agencia.html").button Programação Social
					
					form.row
						legend.small-12.column Filtrar por:
						.small-4.columns
							select(tabindex='2')
								option(disabled selected) DATA
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-4.columns
							select(tabindex='2')
								option(disabled selected) HORÁRIO
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-4.columns
							select(tabindex='2')
								option(disabled selected) TEMA
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
					.row
						.small-12.columns
							span.legendas.red (CF) Conferência - 1h (não é necessário se inscrever)
							span.legendas.gray (CC) Curso Curto - 2h30
							span.legendas.green (CL) Curso Longo - 4h
							span.legendas.yellow (MR) Mesa Redonda - 1h30 (não é necessário se inscrever)
							span.legendas.blue (MS) Minissimpósio - 2h
							span.legendas.purple (SL) Seminário de Lâminas - 2h
					
					.row.grid-programacao
						.small-12.column
							h3.box-title.bg-secondary 29/10/15

						.small-12.columns
							| &nbsp;

						.small-2.columns
							h4 horario
						.small-10.columns
							h4 atividades

						.small-2.columns
							.panel
								strong 14:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante
						
						.small-2.columns
							.panel
								strong 16:30
						.small-10.columns
							ul.small-block-grid-1
								li
									.panel.invert.text-center
										| Intervalo

						.small-2.columns
							.panel
								strong 17:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.red
										| CL - Neuropatologia
								li
									.panel
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.yellow
										| CC - Neuropatologia
								li
									.panel
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 20:00
						.small-10.columns
							ul.small-block-grid-1
								li
									.panel
										strong Abertura

						.small-2.columns
							.panel
								strong 21:00
						.small-10.columns
							ul.small-block-grid-1
								li
									.panel
										strong Coquetel

					.row.grid-programacao
						.small-12.column
							h3.box-title.bg-secondary 29/10/15

						.small-12.columns
							| &nbsp;

						.small-2.columns
							h4 horario
						.small-10.columns
							h4 atividades

						.small-2.columns
							.panel
								strong 14:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante
						
						.small-2.columns
							.panel
								strong 16:30
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 17:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.red
										| CL - Neuropatologia
								li
									.panel
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.yellow
										| CC - Neuropatologia
								li
									.panel
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 20:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 21:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

					.row.grid-programacao
						.small-12.column
							h3.box-title.bg-secondary 29/10/15

						.small-12.columns
							| &nbsp;

						.small-2.columns
							h4 horario
						.small-10.columns
							h4 atividades

						.small-2.columns
							.panel
								strong 14:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante
						
						.small-2.columns
							.panel
								strong 16:30
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 17:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.red
										| CL - Neuropatologia
								li
									.panel
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.yellow
										| CC - Neuropatologia
								li
									.panel
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 20:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante

						.small-2.columns
							.panel
								strong 21:00
						.small-10.columns
							.ul.small-block-grid-5
								li
									.panel
										| CC - Nefropatologia - Patologia de Transplante
								li
									.panel.bg-custom.green
										| CL - Neuropatologia
								li
									.panel.bg-custom.blue
										| MS - Nefropatologia - Patologia de Transplante
								li
									.panel
										| CC - Neuropatologia
								li
									.panel.bg-custom.purple
										| SL - Nefropatologia - Patologia de Transplante
				div(class="small-3 columns")
					include sidebar
		include footer