
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>30 Congresso Brasileiro de Patologia | 29 de Outubro a 01 de Novembro</title>
  <!-- build:css css/libraries.min.css-->
  <!-- bower:css-->
  <!-- endbower-->
  <!-- endbuild-->
  <!-- build:css css/app.min.css-->
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/app_override.css"/>
  <!-- endbuild-->
  <!-- build:js js/vendor/modernizr.min.js-->
  <script src="bower_components/modernizr/modernizr.js"></script>
  <!-- endbuild-->
</head>