header
	.row(data-equalizer='data-equalizer')
		.small-4.columns(data-equalizer-watch='data-equalizer-watch')
			div(itemscope='itemscope', itemtype='http://schema.org/Organization')
				a(itemprop='url', href='http://congressodepatologia.org.br/')
					img(itemprop='logo', src='images/congresso_brasileiro_patologia.png', alt='30 Congresso Brasileiro de Patologia')
		#data.small-6.columns(data-equalizer-watch='data-equalizer-watch')
			img(src='images/data_congresso.png', alt='De 29 de Outubro a 01 de Novembro')
		#login.small-2.columns(data-equalizer-watch='data-equalizer-watch')
			.icon-bar.three-up.social-icons
				a.icon-twitter.item(href='#')
				a.icon-facebook.item(href='#')
				a.icon-googleplus.item(href='#')
			ul.inline-list
				li
					a(href='#') login
				li
					a(href='#') cadastre-se
		.small-12.columns
			nav#mainNav
				ul.inline-list
					li
						a(href='#') Home
					li
						a(href='#' data-dropdown="drop-congresso") O Congresso
					li
						a(href='#') Insrições
					li
						a(href='#') Programação
					li
						a(href='#' data-dropdown="drop-trabalhos") Trabalhos e SL de Residentes
					li
						a(href='#') Informações
					li
						a(href='#') Fale Conosco
	section(role="fixed-navigation")
		.row
			.small-12.columns
			nav
				ul.inline-list
					li
						a.logo(href='#') 30 Congresso Brasileiro de Patologia
					li
						a(href='#' data-dropdown="drop-congresso") O Congresso
					li
						a(href='#') Insrições
					li
						a(href='#') Associados Eméritos
					li
						a(href='#') Informações
					li
						a(href='#') Fale Conosco
	section(role="dropdown-container")
		.row
			ul#drop-congresso.dropdown
				li
					a(href="#") Mensagem do Presidente
				li
					a(href="#") Datas Importantes
				li
					a(href="#") Associados Eméritos 2015
				li
					a(href="#") Comissões
				li
					a(href="#") Palestrantes
				li
					a(href="#") Pós-Congresso
		.row
			ul#drop-trabalhos.dropdown
				li
					a(href="#") Mensagem do Presidente
				li
					a(href="#") Datas Importantes
				li
					a(href="#") Associados Eméritos 2015
				li
					a(href="#") Comissões
				li
					a(href="#") Palestrantes
				li
					a(href="#") Pós-Congresso