doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Congresso de Histotecnologia

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Congresso de Histotecnologia
						.row
							.small-12.column
								img(src='images/sociedade_brasileira_histotecnologia.jpg')
								h4 XIX Congresso Brasileiro de Histotecnologia

					.row
						.small-12.column.left
							.content_block
								p O XIX Congresso Brasileiro de Histotecnologia acontecerá de 30 de outubro a 1º de novembro de 2015 em São Paulo,simultaneamente ao 30º Congresso Brasileiro de Patologia.
								p
									| Inscrições a partir de 01/12/2014.
									br
									| Para mais informações, acesse: <a href="http://www.sbhistotecnologia.bio.br">www.sbhistotecnologia.bio.br</a>
								a.button.primary.expand(href='grade-cientifica.html') CLIQUE AQUI PARA ACESSAR A PROGRAMAÇÃO CIENTÍFICA
				div(class="small-3 columns")
					include sidebar
		include footer