doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		section.big-banners(role="banners")
			ul(data-orbit='data-orbit' data-options='animation:fade; navigation_arrows:false; timer:false; slide_number:false;')
				li.active
					img(src="images/141003-banner-home-convention-center-1440.jpg" data-interchange="[images/141003-banner-home-convention-center-1440.jpg, (default)], [images/141003-banner-home-convention-center-1920.jpg, (only screen and (min-width: 1440px))]", alt='slide 2')
					.row
						.orbit-caption
							h4 CONVENTION CENTER 
								br
								span FREI CANECA
							br
							a(href="#")
								strong Realização SBP. Veja mais informações &#8250;
				li
					img(src="images/141003-banner-home-sao-paulo-1440.jpg" data-interchange="[images/141003-banner-home-sao-paulo-1440.jpg, (default)], [images/141003-banner-home-sao-paulo-1920.jpg, (only screen and (min-width: 1440px))]", alt='slide 1')
					.row
						.orbit-caption
							h4 CONHEÇA &nbsp;
								br
								span SÃO PAULO
							br
							a(href="#")
								strong veja a programação completa &#8250;
				li
					img(src="images/141003-banner-home-palestrantes-1440.jpg" data-interchange="[images/141003-banner-home-palestrantes-1440.jpg, (default)], [images/141003-banner-home-palestrantes-1920.jpg, (only screen and (min-width: 1440px))]", alt='slide 3')
					.row
						.orbit-caption
							h4 PALESTRANTES 
								br
								span CONFIRMADOS
							br
							a(href="#")
								strong veja a programação completa &#8250;		
		div#content(role="content")
			.row
				.small-9.columns
					.content_block
						h1
							| 30&deg; congresso
							span brasileiro de patologia
						p
							| Patologia: novos paradigmas para o avanço da medicina
							br
							| A medicina personalizada talvez seja o principal paradigma da medicina atual, na qual, a Anatomia Patológica, por meio de estudos genéticos, moleculares e genômicos, atua de forma decisiva na condução diagnóstica e prognóstica dos pacientes.
						p
							| Outros paradigmas relacionam-se com a gestão laboratorial e o ensino da Patologia, notadamente nesse último, por meio de modificações curriculares no ensino da Anatomia Patológica e, consequente déficit de novos especialistas, determinando o estabelecimento de novas políticas de ensino e gestão laboratorial.
						a(href="#") Realização SBP. Leia Mais &rsaquo;
					.content_block
						h2
							| mensagem do
							span presidente
						p
							| É com grande prazer que venho convidá-lo(a) para participar do 30º Congresso Brasileiro de Patologia, que será relizado no Centro de Convenções Frei Caneca, em São Paulo, no período de 29 de outubro a 01 de novembro de 2015. 
						p
							| O evento está sendo organizado pela diretoria da Sociedade Brasileira de Patologia e, pela primeira vez, será realizado na cidade de São Paulo, que é o principal centro corporativo, financeiro e mercantil da América do Sul, oferecendo grande variedade de lazer, cultura e entretenimento.
						a(href="#") Realização SBP. Leia Mais &rsaquo;
				.small-3.columns
					include sidebar
			.row
				.line
				ul.small-block-grid-1.medium-block-grid-3.img-anchor-list
					li 
						img(src='images/box-1-comissoes.jpg')
						a(href='#') Leia mais...
					li 
						img(src='images/box-2-palestrantes.jpg')
						a(href='#') Leia mais...
					li 
						img(src='images/box-3-seminarios.jpg')
						a(href='#') Leia mais...
			.row
				.content_block
					h2
						| datas
						span importantes
					ul.small-block-grid-1.medium-block-grid-2(data-equalizer)
						li
							h3.box-title.icon-doc.bg-secondary Material de Divulgação
							.custom-panel
								.panel(data-equalizer-watch)
									h4 Início das inscrições
									a(href='#') Confira o calendário completo.Clique aqui &rsaquo;
						li
							h3.box-title.icon-doc.bg-secondary Material de Divulgação
							.custom-panel
								.panel(data-equalizer-watch)
									h4 Abertura do site para o recebimento de materiais
									a(href='#') Confira o calendário completo.Clique aqui &rsaquo;
		include footer