doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Inscrições
						li.current
							a(href="#") Cadastro

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") CADASTRO DO PARTICIPANTE

					div(class="small-12")
						.content_block
							p Para prosseguir faça seu login:

						//- Login
						div.small-12.left
							form.row
								div.small-12.columns
									p Meus Dados
								div.small-12.columns
									input(type="text" placeholder="Nome")

								div.small-4.columns
									input(type="text" placeholder="RG")
								div.small-4.columns
									input(type="text" placeholder="Orgão Emissor")
								div.small-4.columns
									input(type="text" placeholder="CPF")

								div.small-4.columns
									input(type="text" placeholder="Telefone")
								div.small-4.columns
									select
										option(value="") Sexo
										option(value="opcao1") Masculino
										option(value="opcao2") Femininos
								div.small-4.columns
									input(type="text" placeholder="Data de Nascimento")

								div.small-8.columns
									select
										option(value="") CR
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
								div.small-4.columns
									input(type="text" placeholder="CR-UF")

								div.small-6.columns
									select
										option(value="") Nacionalidade
										option(value="opcao1") Opção 1
										option(value="opcao2") Opção 2
								div.small-6.columns
									input(type="text" placeholder="Passaporte")

								div.small-12.columns
									p Meu Login

								div.small-12.columns
									input(type="text" placeholder="E-mail")

								div.small-6.columns
									input(type="text" placeholder="Senha")
								div.small-6.columns
									input(type="text" placeholder="Confirme a senha")

								div.small-12.columns
									p Endereço

								div.small-12.columns
									input(type="radio" name="escolha" value="1" id="1")
									label(for="1") RESIDÊNCIAL
									input(type="radio" name="escolha" value="2" id="2")
									label(for="2") COMERCIAL

								div.small-4.columns
									input(type="text" placeholder="CEP")

								div.small-12.columns
									input(type="text" placeholder="Endereço")

								div.small-4.columns
									input(type="text" placeholder="Número")
								div.small-4.columns
									input(type="text" placeholder="Complemento")
								div.small-4.columns
									input(type="text" placeholder="Bairro")

								div.small-4.columns
									input(type="text" placeholder="Cidade")
								div.small-4.columns
									input(type="text" placeholder="Estado")
								div.small-4.columns
									input(type="text" placeholder="País")

								div.small-4.columns
									input(type="text" placeholder="Telefone")
								div.small-4.columns
									input(type="text" placeholder="Celular")

								div.small-12.columns
									button.button.small-12 CONFIRMAR DADOS

				div(class="small-3 columns")
					include sidebar
		include footer