doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrições

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÕES

					div(class="small-12")
						a.small-12.button.bg-primary 
							strong CLIQUE AQUI E INSCREVA-SE AGORA <br>
								span(style="color:#4c9993") SIGN UP NOW

						.content_block
							p Confira as categorias disponíveis e clique em inscreva-se agora:
						
						.row.grid-inscricao
							.small-12.columns.grid_line
								.small-4.columns
									h3 CATEGORIA
								.small-2.columns
									h3 Até 15/05/15
								.small-2.columns
									h3 Até 15/05/15
								.small-2.columns
									h3 Até 15/05/15
								.small-2.columns
									h3 Até 15/05/15

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Acadêmico (3)
								.small-2.columns
									.panel R$ 300,00
								.small-2.columns
									.panel R$ 360,00
								.small-2.columns
									.panel R$ 380,00
								.small-2.columns
									.panel R$ 450,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Acompanhante (5, 6)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Associado SBP <br>Adimplente (1)
								.small-2.columns
									.panel.bg-primary R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Associado SBP <br>Residente Adimplente
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Day Fee (1, 4)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Não associado SBP<br>/ Inadimplente (1)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00
	
							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Associado SBP <br>Pós-Graduando <br>Adimplente (1, 2)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

							.small-12.columns.grid_line
								.small-4.columns
									.title.panel Outros profissionais da saúde (7)
								.small-2.columns
									.panel R$ 200,00
								.small-2.columns
									.panel R$ 250,00
								.small-2.columns
									.panel R$ 265,00
								.small-2.columns
									.panel R$ 320,00

						.small-12.columns.content_block
							h4 Legenda
							p (1) Médico, dentista e veterinário;
							p (2) Bolsista da CAPES, CNPq ou outra agência de fomento com comprovante de dedicação exclusiva;
							p (3) Graduando em Medicina, Odontologia e Veterinária. Necessário comprovação;
							p (4) Apenas para participação em um dia do evento.				
							p (5) Direito a visitar a área de exposição e participar das atividades sociais do congresso p (Coquetel de abertura e Festa de encerramento).				
							p (6) A partir de 12 anos as crianças devem ser inscritas como acompanhantes.	
							p (7) Com direito a participação em atividades específicas

							.custom-small
								h4 Observações
								p Todos os comprovantes devem ser enviados para o e-mail
									a(href="#")  secretaria@sbp.org.br
								p Acadêmicos: carteira de estudante ou comprovante de matrícula 
								p Pós Graduandos: comprovante ofícial de dedicação exclusiva 
								p Após o recebimento e aprovação do(s) comprovante(s) será enviado um e-mail avisando que a opção de inscrição está disponível.

							.custom-small
								h4 Inscrições por "empenho"
								p A SBP não possui inscrição no SICAF ou qualquer outro registro governamental. O participante que possuir instituição financiadora deve inscrever-se, efetuar o pagamento e enviar e-mail para secretaria@sbp.org.br informando que solicitará o reembolso da inscrição. Após a liberação do pagamento pela instituição financiadora, a organização do congresso devolverá o valor pago pelo inscrito.

							.custom-small
								h4 2ª. via Crachá
								p Crachás de Identificação: Os participantes deverão usar o crachá de forma visível durante todo o tempo em que permanecerem dentro do Centro de Convenções Frei Caneca. O uso do crachá de identificação será indispensável e obrigatório para o acesso ao 30º Congresso Brasileiro de Patologia.      

								br
								
								p Atenção - Em caso de perda do crachá, será cobrada uma taxa de R$ 100,00 (cem reais) para o  fornecimento da 2ª via. Os crachás de acompanhantes e expositores não permitem o acesso às atividades científicas, somente mediante autorização. 

							.custom-small
								h4.alert Política de Cancelamento
								p a) Solicitações de cancelamento devem ser enviadas por escrito para o e-mail 
									a(href="#")  secretaria@sbp.org.br
									| com dados bancários para o reembolso.
								p b) Será cobrada uma taxa de cancelamento de 30% sobre o valor da inscrição.
								p c) Só serão aceitos pedidos de cancelamento até o dia 10/10/2015.
								p d) Os reembolsos só serão feitos após o congresso.
								p e) A inscrição é pessoal e intransferível. Em caso de não comparecimento o valor pago não será devolvido.

								br

								p
									strong Será garantido material aos pré-inscritos.

				div(class="small-3 columns")
					include sidebar
		include footer