doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrição local

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÃO LOCAL

					div(class="small-12")
						.row
							.small-8.small-centered.column
								.content_block
									p.lead Novo Participante:
									p Insira o CPF para prosseguir.
									input(type="text" placeholder="CPF")
									a Clique aqui para cadastro de estrangeiro.
						
						.row
							.small-12.columns
								a.button.expand.bg-primary(href="#") INSCREVER PARTICIPANTE

							.small-5.columns
								a.button.expand.bg-secondary(href="#") OUTROS PROFISSIONAIS DA SAÚDE
							.small-5.columns
								a.button.expand.bg-secondary(href="#") NÃO CADASTRADO NA SBP
							.small-2.columns
								a.button.expand.bg-secondary.icon-doc-move(href="#")
				div(class="small-3 columns")
					include sidebar
		include footer