doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrição local

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÃO LOCAL

					div(class="small-12")
						.row
							.small-8.small-centered.column
								.row
									.content_block
										.small-3.columns
											p(style="margin-bottom:0") CPF:
										.small-9.columns
											p(style="margin-bottom:0") 396.233.528-59
										.small-3.columns
											p(style="margin-bottom:0") Nome:
										.small-9.columns
											p(style="margin-bottom:0") Raul Souza Silva Mendes
										.small-3.columns
											p(style="margin-bottom:0") CRM/UF:
										.small-9.columns
											p(style="margin-bottom:0") 396.233.528-59
										.small-3.columns
											p(style="margin-bottom:0") Categoria:
										.small-9.columns
											p.red(style="margin-bottom:0") Acadêmico
										.small-3.columns
											p(style="margin-bottom:0") Email:
										.small-9.columns
											p(style="margin-bottom:0") raul@outlook.com
										.small-3.columns
											p(style="margin-bottom:0") N&deg; Ficha:
										.small-9.columns
											p(style="margin-bottom:0") 1237654
						.row
							.small-12.columns
								p &nbsp;
						
						.row
							.small-12.left.table-custom
								table.small-10.small-offset-1
									caption.text-left.checkbox-custom
										input(type='checkbox', id='comprovante', value='ok')
										label(for='comprovante') comprovante Acadêmico
									thead.small-12
										tr
											th.small-6.bg-secondary Categoria
											th(colspan="2").small-6.bg-secondary Valor (R$)

									tbody.small-12
										tr
											td.small-6 Acadêmico
											td.small-3 100,0
											td(style="padding:0").small-3
												a(href="#").button.expand INSCREVER
										tr
											td.small-6 Associado Adimplente
											td.small-3 80,0
											td(style="padding:0").small-3
												a(href="#").button.disabled.expand INSCREVER
										tr
											td.small-6 Associado Residente Adimplente
											td.small-3 60,0
											td(style="padding:0").small-3
												a(href="#").button.disabled.expand INSCREVER
										tr
											td.small-6 Não associado / Inadimplente
											td.small-3 120,0
											td(style="padding:0").small-3
												a(href="#").button.disabled.expand INSCREVER
										tr
											td.small-6 Day-free
											td.small-3 90,0
											td(style="padding:0").small-3
												a(href="#").button.disabled.expand INSCREVER

						.row
							.small-5.column.small-offset-7
								a.button.expand.bg-custom.dark-gray(href="#") Voltar
				div(class="small-3 columns")
					include sidebar
		include footer