doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Inscrição local

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") INSCRIÇÃO LOCAL

					div(class="small-12")
						div.small-12.left.login_block
							h2 INSCRIÇÃO REALIZADA COM SUCESSO!
							p Você será automaticamente redirecionado para a inscrição em 10 segundos. Caso contrário você pode clicar na seção desejada.

						.row
							.small-4.columns.small-offset-3
								a.button.expand.bg-custom.dark-gray(href="#") NOVA INSCRIÇÃO
							.small-2.columns.end
								a.button.expand.bg-secondary.icon-doc-move(href="#")
				div(class="small-3 columns")
					include sidebar
		include footer