doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href=".") O Congresso
						li.current
							a(href="#") Congresso de Histotecnologia

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Mensagem do Presidente
						.row
							.small-12.column
								img(src='images/presidente.jpg')

					.row
						.small-12.column.left
							.content_block
								p Prezado(a) Colega,
								p É com grande prazer que venho convidá-lo(a) para participar do 30º Congresso Brasileiro de Patologia, que será relizado no Centro de Convenções Frei Caneca, em São Paulo, no período de 29 de outubro a 01 de novembro de 2015.
								p
								p O evento está sendo organizado pela diretoria da Sociedade Brasileira de Patologia e, pela primeira vez, será realizado na cidade de São Paulo, que é o principal centro corporativo, financeiro e mercantil da América do Sul, oferecendo grande variedade de lazer, cultura e entretenimento. 
								p O Centro de Convenções Frei Caneca foi escolhido por suas excelentes instalações e localização, sendo de fácil acesso e próximo ao circuito cultural de São Paulo.
								p O tema central do Congresso será “Patologia: novos paradigmas para o avanço da Medicina”. A coordenação da Comissão Científica já escolheu 13 convidados internacionais, de várias especialidades da Patologia, que compartilharão conosco seus conhecimentos, garantindo o sucesso científico do evento. 
								p Consulte periodicamente o site do congresso e confira os detalhes e a atualização da programação científica que está sendo elaborada cuidadosamente pela Comissão Científica.
								p Conto com a presença de todos, pois, além de se atualizar cientificamente, é uma oportunidade para rever amigos. 
								p O sucesso do congresso depende da sua participação!
								p.text-secondary(style='margin:0') Sueli Aparecida Maeda Pereira
								p(style='margin:0')
									em Presidente
								p.text-secondary(style='margin:0') 30&deg; Congresso Brasileiro de Patologia
				div(class="small-3 columns")
					include sidebar
		include footer