.reveal-modal.modal-custom#modal-submit-ok(data-reveal)
	.small-12.left.bg-secondary
		h2.small-12.box-title.icon-alert SUBMETER RESUMO
	.small-12.left.text
		p Este trabalho poderá ser revisto e modificado até o prazo final de submissão.
	.small-12.left.buttons
		a(href="#").close-reveal-modal.button.small-4.left.bg-custom.gray CANCELAR
		a(href="#").button.small-8.left.bg-secondary SUBMETER