doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") O Congresso
						li
							a(href="#") Trabalhos e Seminário de lâminas
						li.current
							a(href="#") Prêmios

				div(class="small-9 columns")
					div(class="small-12")#page-title
						h1
							a(href="#") PRÊMIOS

					.small-12.content_block
						h4 Prêmio SBP
						p Será concedido diploma de “Menção Honrosa” e prêmio em dinheiro, no valor de R$ 1.100,00 (um mil e cem reais), aos 10 (dez) melhores trabalhos selecionados para apresentação oral, independentemente da classificação. A premiação será divulgada durante a festa de encerramento do Congresso.

						h4 Prêmio Médico Residente
						p Será concedido diploma de “Menção Honrosa” e prêmio em dinheiro, no valor de R$ 1.100,00 (um mil e cem reais), para até 10 (dez) dos melhores trabalhos selecionados para apresentação na forma de pôster, independentemente da classificação, que tenham como primeiro autor um médico residente em Patologia que deverá, obrigatoriamente, ser o apresentador do trabalho. A premiação será divulgada durante a festa de encerramento do Congresso.

						h4 Prêmio Seminário de Lâminas de Médico Residente
						p Será concedido diploma de “Apresentador de Caso” e prêmio em dinheiro, no valor de R$ 1.100,00 (um mil e cem reais), para até 6 (seis) dos melhores casos enviados por um médico residente em Patologia que deverá, obrigatoriamente, estar inscrito no congresso no ato do envio e ser o apresentador do seminário. A premiação será divulgada durante a festa de encerramento do Congresso.
							br
							a(href="#") Clique aqui para ver as instruções completas >

						h4 Prêmio Osvaldo Giannotti Filho
						p Será concedido pelo Departamento de Patologia da Escola Paulista de Medicina - UNIFESP ao melhor trabalho da área de Patologia Mamária, escolhido por uma comissão especial nomeada pelo departamento de Patologia da EPM - UNIFESP.
						ul
							li O premio será divulgado durante o congresso e será constituído por um cheque no valor de R$ 800,00 (oitocentos reais) e certificado referente ao trabalho.
							li O premio será divulgado durante o congresso e será constituído por um cheque no valor de R$ 800,00 (oitocentos reais) e certificado referente ao trabalho.

						h4.italic-title OBSERVAÇÕES:
						ul
							li Os prêmios serão pagos através de cheque nominal ao primeiro autor, só podendo ser retirados por este.
							li Os cheques serão entregues aos primeiros autores que fizerem a apresentação do trabalho oral, do pôster ou do caso do seminário de lâminas durante congresso.
						p Só será destinado um prêmio por participante, por categoria.
						p
							a(href="#") Confira os premiados >

				div(class="small-3 columns")
					include sidebar
		include footer