doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Programação Social

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Programação Social
					
					.row(data-equalizer)
						.small-2.columns
							.content_block.data_block
								.panel(data-equalizer-watch)
									strong
										| 20:00
										br
										| 00:00
						.small-10.columns
							.content_block.data_block
								.panel(data-equalizer-watch)
									dl
										dt Abertura
										dd Coquetel de Abertura
											a(href='#') Clique aqui para ver a programação científica &rsaquo;

					.row(data-equalizer)
						.small-2.columns
							.content_block.data_block
								.panel(data-equalizer-watch)
									strong
										| 20:00
										br
										| 00:00
						.small-10.columns
							.content_block.data_block
								.panel(data-equalizer-watch)
									dl
										dt Encerramento
										dd Jantar de encerramento
											a(href='#') Clique aqui para ver os anais do congresso &rsaquo;

				div(class="small-3 columns")
					include sidebar
		include footer