aside
	//- each val in ['Realização', 'Patrocínio Diamante', 'Patrocínio Ouro', 'Patrocínio Prata', 'Patrocínio Bronze']
	each val, index in {'Realização': {1:'http://placehold.it/140x70/F0F0F0/333&text=logo', 2:'http://placehold.it/140x70/F0F0F0/333&text=logo'}, 'Patrocínio Diamante': {1:'http://placehold.it/140x70/A92B48/FFF&text=logo', 2:'http://placehold.it/140x70/A92B48/FFF&text=logo'}, 'Patrocínio Ouro': {1:'http://placehold.it/140x70/EE964D/FFF&text=logo', 2:'http://placehold.it/140x70/EE964D/FFF&text=logo'}, 'Patrocínio Prata': {1:'http://placehold.it/140x70/FDC43D/FFF&text=logo', 2:'http://placehold.it/140x70/FDC43D/FFF&text=logo'}, 'Patrocínio Bronze': {1:'http://placehold.it/140x70/9b59b6/FFF&text=logo', 2:'http://placehold.it/140x70/9b59b6/FFF&text=logo'}}
		h4= index
		ul(data-orbit data-options='timer:false; slide_number:false; bullets:false;')
				- if (typeof val === 'object')
					each v, key in val
						li
							img(src=v, alt='slide + key')