doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li.current
							a(href="#") Sobre

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Sobre

					.row
						.small-12.column.left
							.content_block
								p
									| Patologia: novos paradigmas para o avanço da medicina
									br
									| A medicina personalizada talvez seja o principal paradigma da medicina atual, na qual, a Anatomia Patológica, por meio de estudos genéticos, moleculares e genômicos, atua de forma decisiva na condução diagnóstica e prognóstica dos pacientes.
								p Outros paradigmas relacionam-se com a gestão laboratorial e o ensino da Patologia, notadamente nesse último, por meio de modificações curriculares no ensino da Anatomia Patológica e, consequente déficit de novos especialistas, determinando o estabelecimento de novas políticas de ensino e gestão laboratorial.
								p Veja as edições anteriores: 
								a(href='#') XXIX - Congresso de Patologia 2014
				div(class="small-3 columns")
					include sidebar
		include footer