doctype html
html(class="no-js", lang="pt")
	include head
	body
		include header
		div#content(role="content")
			div.row
				nav(class="small-12 columns")#breadcrumbs
					ul.breadcrumbs
						li
							a(href=".") Home
						li
							a(href="#") Trabalhos e SL Residentes
						li.current
							a(href="#") Trabalhos Aprovados

				div(class="small-9 columns")
					div#page-title(class="small-12")
						h1
							a(href="#") Trabalhos Aprovados
					div.sub-category-menu
						a(href="/informacoes-viagem.html").button Trabalhos Científicos
						a(href="/informacoes.html").button SL Residentes
						a(href="/informacoes-agencia.html").button.current Trabalhos Aprovados
					
					form.row
						.small-4.columns
							input(type='text' placeholder='pesquise por título, autores, etc...' tabindex='1')
						.small-3.columns
							select(tabindex='2')
								option(disabled selected) ÁREAS
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-3.columns
							select(tabindex='3')
								option(disabled selected) APROVAÇÃO
								each val, key in  {'value1': 'Option 1', 'value2': 'Option 2', 'value3': 'Option 3'}
									option(value=key)= val
						.small-2.columns
							input.button.secondary.expand.tiny(type='submit' value='Buscar' tabindex='3')
					
					.row
						.small-12.column.left
							table
								thead.bg-secondary
									tr
										th.box-title Cód.
										th.box-title Título
										th.box-title Autores
										th.box-title àrea
										th.box-title Aprovação
								tbody
									- var lines = 9; var n = 1;
									while n <= lines
										tr(data-row=n++)
											td= Math.floor((Math.random() * 100) * n + 1)
											td A ACURÁCIA DA CONSULTA INTRAOPERATÓRIA NOS NÓDULO DA TIREÓIDE: ANÁLISE DE 2.041 CASOS REALIZADOS NO INSTITUTO NACIONAL DO CÂNCER.
											td LEITE, KRM;  MOURA, CM; PONTES JUNIOR, J; REIS, ST; MORAIS, DR; VIANA, NI; DIP, N; KATZ, BS; SROUGI, M; 
											td Uropatologia
											td Pôster

							ul.pagination.right(role='menubar' aria-label='pagination')
								- var pages = 8; var j = 2;
								li.arrow.unavailable(aria-disabled='true')
									a.icon-a-left(href='#')
								li.current
									a(href='#') 1
								while j < pages
									li
										a(href='#')= j++
								li.arrow
									a.icon-a-right(href='#')
				div(class="small-3 columns")
					include sidebar
		include footer